openapi: 3.1.0
info:
  title: Cogneris Document AI API
  version: '2026-09-24'
  summary: Turn documents into structured data.
  description: |
    The Cogneris Document AI API turns unstructured documents — PDFs, images, scans —
    into structured JSON.

    This document describes the endpoints that are actually deployed. It is written
    from the running service (`cogneris-api-be`) rather than from a design, so what
    is listed here is what you can call.

    ## Authentication

    Every endpoint takes an API key in the `Authorization` header as
    `Bearer <key>`. Keys begin with `xtkt_live_` (production) or `xtkt_test_`
    (sandbox); either prefix is accepted before the key is looked up for validation.
    The key selects the application environment. A recognized prefix alone does
    not authenticate a request: the key must also be valid and active. Keys are
    tenant-scoped and cannot cross tenant boundaries. Mint them in the dashboard
    under **Settings → API keys**.

    ## Uploads

    The synchronous document endpoints take `multipart/form-data`. There is no
    fetch-by-URL variant — the file travels in the request body.

    - Accepted extensions: `.pdf`, `.png`, `.jpg`, `.jpeg`, `.tiff`, `.tif`,
      `.bmp`, `.doc`, `.docx`
    - Maximum size: 10 MB per file, except `/Document/split`, which accepts 500 MB

    The asynchronous job endpoints do not take a file. Upload it first to
    `POST /api/v1/artifacts` — same extensions, same 10 MB limit — and submit the
    `artifact://` reference it returns.

    ## Artifact references

    A reference names one stored object. `POST /api/v1/artifacts` returns one, a job
    submit consumes one as `inputReference`, and a finished job returns one as
    `outputReference`. `GET /api/v1/artifacts/content` turns either back into bytes.

    - References are scoped to the tenant that created them. One belonging to another
      tenant is refused as an invalid reference — the answer does not distinguish a
      reference that exists elsewhere from one that never existed.
    - An uploaded reference is **reusable**: one upload can back several jobs.
    - It expires **7 days** after upload, matching how long a job is retained. The
      exact instant is returned as `expiresAt`. Reading it afterwards answers `410`,
      which is not `404` — the reference was real, it aged out, and re-requesting it
      will never succeed. Upload again.
    - A job's `outputReference` lives as long as the job does.

    ### Two shapes, one of them historical

    Everything this API produces today is `artifact://<key>`. Jobs that completed
    before 2026-09-22 carry a bucket-qualified path instead —
    `<bucket>/<tenant>/document-jobs/<jobId>/result.json`, sometimes with an
    `@<version>` suffix. `GET /api/v1/artifacts/content` accepts both, so a reference
    stored from an older job still resolves for the rest of its life. Treat a
    reference as opaque: pass back exactly what you were given.

    ## Templates

    Extraction and classification are driven by the document types and templates
    configured for your tenant. The platform selects the template from the document
    itself, so the synchronous `/Document/*` calls take no template or schema
    parameter. An asynchronous Extraction job may instead name one explicitly with
    `templateId` on `POST /api/v1/document-jobs`.

    ## Scopes

    Keys carry scopes. The Portal endpoints check them and answer `403` when the
    required one is absent; the document endpoints accept any valid key for the
    tenant without consulting the list. `*` is a real scope meaning full access, and
    it is what a key receives when it is created without an explicit scope list.

    ## Rate limits

    One shared policy covers every surface in this document, Portal included:
    **50 requests per API key per fixed 1-minute window**. It is a fixed window
    rather than a token bucket, so the allowance resets on the minute instead of
    refilling gradually. Requests over the limit receive `429`.

    ## Response envelope

    Successful responses from the **document and job** endpoints share one wrapper:
    `data` for the payload, `meta` for the status and any messages, and `hasErrors`
    for a fast failure check.

    The **Portal** endpoints do not use that wrapper. They return the payload
    directly, and their errors are RFC 9457 problem documents sent as
    `application/problem+json`, with a stable `code`, a `correlationId` that is also
    returned in the `x-correlation-id` header, and a `retryable` flag. Branch on
    `code`; treat `type` as an opaque identifier.

    ## Errors

    An error arrives in one of two shapes, and the `Content-Type` says which.

    - `application/problem+json` — an RFC 9457 problem document, the same one the
      Portal uses. Every route answers this way when the failure happens before your
      request is processed: a missing or invalid key (`401`), the rate limit (`429`),
      a request refused as malformed or unsafe (`400`), or an unexpected failure
      (`500`).
    - `application/json` — the service envelope with `hasErrors: true` and the
      reasons in `meta.errors`. The document, job and artifact routes answer this way
      when processing itself fails. Each operation lists the statuses where it does.

    Every operation lists `400`, `401`, `403`, `404`, `409`, `429` and `500`, because
    the API answers each of them in the same shape wherever it occurs. A status on
    an operation with nothing to miss or conflict with — a `409` on a read, say — is
    part of that uniform model and not something the operation returns in practice.
servers:
  - url: https://api-us.cogneris.ai
    description: Production — United States (us-central1)
  - url: https://api-eu.cogneris.ai
    description: Production — Europe (europe-west1)

security:
  - ApiKey: []

tags:
  - name: Documents
    description: Synchronous document processing.
  - name: Jobs
    description: Asynchronous document processing.
  - name: Artifacts
    description: Upload the input of a job, and read back its result.
  - name: Portal
    description: Magic links to intake forms — ask a recipient for documents.

paths:
  /Document/extraction:
    post:
      tags: [Documents]
      summary: Extract structured fields from a document
      description: |
        Extracts structured fields from a single document using the templates
        configured for your tenant. The platform selects the best template for the
        uploaded document.
      operationId: extractDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The document to extract from.
                ComplementaryPrompt:
                  type: string
                  description: |
                    Free-text instruction appended to the model prompt. Use it to ask
                    for extra fields, enforce formatting, or narrow the scope.
                  example: Also return the payment terms and the PO number.
      responses:
        '200':
          $ref: '#/components/responses/DocumentResult'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /Document/classifier:
    post:
      tags: [Documents]
      summary: Classify one or more documents
      description: |
        Detects the document type against the classes configured for your tenant.
        Repeat the `files` field to classify several documents in one call.
      operationId: classifyDocuments
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: One or more files to classify.
      responses:
        '200':
          $ref: '#/components/responses/DocumentResult'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /Document/zero-shot:
    post:
      tags: [Documents]
      summary: Discover fields without a template
      description: |
        Reports the fields the model can find in a document you have no template
        for, each with a confidence score from `0` to `100`.
      operationId: zeroShotDocument
      requestBody:
        $ref: '#/components/requestBodies/SingleFile'
      responses:
        '200':
          $ref: '#/components/responses/DocumentResult'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /Document/crop:
    post:
      tags: [Documents]
      summary: Crop pages to the document
      description: |
        Trims pages down to the document itself — useful when the source is a photo
        or a scan with a border, a desk or a second page in frame.
      operationId: cropDocument
      requestBody:
        $ref: '#/components/requestBodies/SingleFile'
      responses:
        '200':
          $ref: '#/components/responses/DocumentResult'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /Document/split:
    post:
      tags: [Documents]
      summary: Split a bundle into its documents
      description: |
        Breaks one file into the documents it contains, returning a detected type and
        page range per segment. Accepts files up to 500 MB — well above the 10 MB
        limit that applies to the other document endpoints. PDFs work best; other
        supported formats are accepted but usually return a single segment.
      operationId: splitDocument
      requestBody:
        $ref: '#/components/requestBodies/SingleFile'
      responses:
        '200':
          $ref: '#/components/responses/DocumentResult'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /Document/facematch:
    post:
      tags: [Documents]
      summary: Match a selfie against identity documents
      operationId: faceMatchDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [selfie, documents]
              properties:
                selfie:
                  type: string
                  format: binary
                  description: The selfie to compare.
                documents:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: One or more identity documents to compare against.
      responses:
        '200':
          $ref: '#/components/responses/DocumentResult'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v1/artifacts:
    post:
      tags: [Artifacts]
      summary: Upload the input document of an asynchronous job
      description: |
        Stores a document and returns the `artifact://` reference to submit it with.
        This is the only way to obtain one — the asynchronous job endpoints take a
        reference, never a file.

        The document is scanned and normalized before it is stored, exactly as the
        synchronous `/Document/*` endpoints do. Images are stored as uploaded, so
        `Crop` and `Facematch` still see the original pixels; everything else is
        stored in its canonical form, which is what the job will read.

        The reference is reusable and expires after 7 days — see **Artifact
        references** above.
      operationId: uploadArtifact
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: |
                    The document a job will consume. Same accepted extensions and the
                    same 10 MB limit as the synchronous endpoints.
      responses:
        '201':
          description: Stored.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ArtifactUploadEnvelope' }
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422':
          description: |
            The document was rejected by the security policy, or could not be
            converted safely. The `code` says which.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
        '429': { $ref: '#/components/responses/ProcessingRateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503':
          description: |
            Document admission is temporarily unavailable. Marked retryable — back
            off and upload again.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }

  /api/v1/artifacts/content:
    get:
      tags: [Artifacts]
      summary: Download the bytes behind a reference
      description: |
        Returns the stored bytes of an upload, or of a finished job's
        `outputReference`. For a completed job this is the result document —
        `application/json` for the extraction, classification and zero-shot
        operations.

        The reference is a query parameter, not a path segment, because it is a URI
        in its own right. Percent-encode it.
      operationId: downloadArtifact
      parameters:
        - name: reference
          in: query
          required: true
          description: |
            An `artifact://` reference, or the bucket-qualified form an older job
            returned. Pass back exactly what you were given.
          schema: { type: string }
          example: artifact://document-jobs/7c9e6679-7425-40de-944b-e07fc1f90ae7/result.json
      responses:
        '200':
          description: |
            The stored bytes, with the content type they were stored under.
            `Content-Disposition` carries the original file name.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: A job result document.
        '400':
          description: |
            The reference is missing, unreadable, or not one this tenant can read.
            A reference belonging to another tenant answers here, not `403` — the
            response does not reveal whether it exists.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: No artifact with that reference in this tenant.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '409': { $ref: '#/components/responses/Conflict' }
        '410':
          description: |
            The reference was valid and has expired. Distinct from `404` on purpose:
            retrying will never succeed, so upload again.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v1/document-jobs:
    post:
      tags: [Jobs]
      summary: Submit an asynchronous document job
      description: |
        Queues a long-running operation. Answers `202` with a `Location` header
        pointing at the job and a `Retry-After` hint. Poll that URL, or subscribe to
        webhooks and let the completion event come to you.
      operationId: submitDocumentJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operation, inputReference]
              properties:
                operation:
                  $ref: '#/components/schemas/DocumentJobSubmitOperation'
                  description: |
                    The work to run. A finished classifier is a published, immutable
                    template version: updates are rejected, and a changed definition must
                    be published as a new classifier with a new id.
                templateId:
                  type: string
                  format: uuid
                  description: |
                    Optional, Extraction only. The id of one of your tenant's finished
                    templates; its schema drives the extraction instead of the template
                    the platform would select from the document. Any other operation
                    rejects the submit when this is set. An id the platform cannot resolve
                    to a finished template of yours is rejected; the job never falls back
                    to a generic extraction without the schema you asked for.
                inputReference:
                  type: string
                  pattern: '^artifact://.+$'
                  example: artifact://uploads/9f2c1b7a4d8e4f06b1a25c3e7d9f0a11/invoice.pdf
                  description: |
                    The `reference` returned by `POST /api/v1/artifacts`. That upload
                    is the only way to obtain one, and it can back more than one job
                    until it expires.
      responses:
        '202':
          description: Job accepted.
          headers:
            Location:
              schema: { type: string }
              description: URL of the created job.
            Retry-After:
              schema: { type: integer }
              description: Suggested seconds to wait before polling.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentJobSubmissionEnvelope'
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
    get:
      tags: [Jobs]
      summary: List document jobs
      operationId: listDocumentJobs
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 100 }
      responses:
        '200':
          description: Jobs for the tenant.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DocumentJobListEnvelope' }
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v1/document-jobs/{jobId}:
    parameters:
      - name: jobId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Jobs]
      summary: Get a document job
      operationId: getDocumentJob
      responses:
        '200':
          description: The job.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DocumentJobEnvelope' }
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: No job with that id in this tenant.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v1/document-jobs/{jobId}/cancel:
    parameters:
      - name: jobId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Jobs]
      summary: Cancel a document job
      operationId: cancelDocumentJob
      responses:
        '202':
          description: Cancellation requested.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DocumentJobCancellationEnvelope' }
        '400': { $ref: '#/components/responses/ProcessingBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: The job does not exist or can no longer be cancelled.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v1/portal/forms:
    get:
      tags: [Portal]
      summary: List the forms available to the tenant
      description: |
        Returns every intake form configured for your tenant, so you can resolve the
        `formId` a magic link needs. Forms are created in the dashboard, not here.

        The response is a bare array, not the document-endpoint envelope, and it is
        not paginated.
      operationId: listPortalForms
      responses:
        '200':
          description: The tenant's forms.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PortalForm' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/PortalForbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502': { $ref: '#/components/responses/PortalUnavailable' }

  /api/v1/portal/available-channels:
    get:
      tags: [Portal]
      summary: List the send channels this environment can use
      description: |
        The channels available for delivering a magic link. This is a property of the
        environment — it follows the delivery credentials configured there — rather
        than a per-tenant or per-plan entitlement, so it may be shorter than expected.

        WhatsApp additionally requires a Meta-approved template and respects the
        24-hour service window.
      operationId: listPortalChannels
      responses:
        '200':
          description: The enabled channels.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PortalChannels' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/PortalForbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502': { $ref: '#/components/responses/PortalUnavailable' }

  /api/v1/portal/magic-link:
    post:
      tags: [Portal]
      summary: Create a magic link
      description: |
        Creates a link to an intake form for a named recipient and, when `sendChannel`
        is set, dispatches it on that channel. Omit `sendChannel` to create the link
        without sending anything and deliver it yourself.

        Send a stable `Idempotency-Key` to make retries safe: a repeat resolves to the
        same link rather than creating a second one or charging twice.

        `url` is returned **only on the first create**. The raw token is never stored
        in readable form, so an idempotent replay returns the same `id` with `url`
        absent — persist it from the original `201`.
      operationId: createPortalMagicLink
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Stable caller-supplied key that makes a retry resolve to the same link.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PortalMagicLinkRequest' }
      responses:
        '201':
          description: The link was created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PortalMagicLink' }
        '400':
          description: |
            A field failed validation — a missing `formId` or `name`, a `sendChannel`
            outside the allowed set, or a channel whose matching contact field is absent.
            The offending field is named in `errors[].field`.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402':
          description: Billing quota exhausted. `detail` carries the reason and, where one applies, an upgrade URL.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '403': { $ref: '#/components/responses/PortalForbidden' }
        '404':
          description: No such form, or it belongs to another tenant. The two are indistinguishable by design.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '502': { $ref: '#/components/responses/PortalUnavailable' }

components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      description: |
        An API key prefixed `xtkt_live_` (production) or `xtkt_test_` (sandbox),
        sent as `Authorization: Bearer <key>`.

  requestBodies:
    SingleFile:
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            required: [file]
            properties:
              file:
                type: string
                format: binary

  responses:
    DocumentResult:
      description: |
        The service envelope. `data.metadata` is shaped by the template or operation
        that ran, so its fields vary by document type. What does not vary is the shape of
        each field inside it — see `ExtractedField` for the value, confidence and source
        coordinates every extracted field carries.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
    Unauthorized:
      description: |
        Missing or invalid API key. Both `xtkt_live_` (production) and `xtkt_test_`
        (sandbox) prefixes are accepted, but the key must also be valid and active.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    PayloadTooLarge:
      description: Over the size limit — 10 MB, or 500 MB on `/Document/split`.
    UnsupportedMediaType:
      description: Extension outside the supported list.
    RateLimited:
      description: Over 50 requests in the current 1-minute window for this key.
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds until the window resets.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    BadRequest:
      description: |
        The request was refused before it was processed — malformed, unsafe, or
        missing something it needs. `code` says which.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    Forbidden:
      description: The key is valid but not allowed to make this request.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    NotFound:
      description: Nothing answers at this address for this tenant.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    Conflict:
      description: The request conflicts with the current state of what it acts on.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    ProcessingBadRequest:
      description: |
        The request is invalid. Refused before processing — malformed or unsafe — it
        is a problem document; refused by processing itself, such as a missing file,
        it is the service envelope with the reason in `meta.errors`.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
        application/json:
          schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
    ProcessingRateLimited:
      description: |
        Over 50 requests in the current 1-minute window for this key, answered as a
        problem document; or the document admission quota is exhausted, answered as
        the service envelope with `ADMISSION_QUOTA_EXCEEDED`. Both are retryable.
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds until the rate-limit window resets. Sent with the problem document.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
        application/json:
          schema: { $ref: '#/components/schemas/ServiceErrorEnvelope' }
    ServerError:
      description: |
        Unexpected failure. `correlationId` identifies the request — quote it when
        you contact support.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    PortalForbidden:
      description: |
        The key is valid but lacks the scope this endpoint requires —
        `portal.forms.read` to read, `portal.magiclinks.write` to create. The missing
        scope is named in the response.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    PortalUnavailable:
      description: The Portal service is unreachable. Marked retryable — back off and try again.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

  schemas:
    Envelope:
      type: object
      properties:
        data:
          type: object
          properties:
            id: { type: string, format: uuid }
            metadata:
              type: object
              description: |
                Operation-specific payload, shaped by the template or operation that ran.
                The keys are your template's, so the object itself is left open here.

                Extraction and zero-shot fill it with one entry per extracted field, and
                each entry is an `ExtractedField`: the value, how certain the model is of
                it, and — when the value was visually located on the page — where it was
                read from. A table-shaped field carries an `items` array instead, whose
                rows hold `ExtractedField` cells under the same keys.

                Source coordinates follow one convention, the same on every engine:

                - `page` is 1-indexed, and never past the document's last page.
                - `bbox` is `[x0, y0, x1, y1]` as fractions of the page size with the
                  origin at the top-left, so `x0,y0` is the top-left corner and `x1,y1`
                  the bottom-right. Values are clamped into `0`–`1` and the corners are
                  ordered, so `x0 <= x1` and `y0 <= y1` always hold.
                - `page`, `bbox` and `bbox_confidence` are omitted **together** for any
                  value the model could not locate on the page — a computed total, for
                  instance. Their absence is not an error, and a field object carrying
                  none of the three is ordinary.

                Every confidence this API returns is a number from `0` to `100`,
                `bbox_confidence` included. There is no second scale to convert from.

                A document job's stored `result.json` holds the same field entries,
                sanitized the same way, so the asynchronous answer agrees with the
                synchronous one for the same document. It wraps them differently — see
                `outputReference`.
              additionalProperties: true
              example:
                policyNumber:
                  value: '254H089SJ425'
                  confidence: 98
                  page: 1
                  bbox: [0.62, 0.11, 0.83, 0.14]
                  bbox_confidence: 92
                totalPremium:
                  value: '1840.00'
                  confidence: 95
            createdDate: { type: string, format: date-time }
            results:
              type: array
              description: |
                `/Document/classifier` only: one entry per uploaded file.
              items: { $ref: '#/components/schemas/ClassificationResult' }
            documentType:
              type: string
              description: '`/Document/zero-shot` only: the document type the model recognized.'
            confidence:
              type: number
              description: '`/Document/zero-shot` only: certainty in `documentType`.'
            fraudBlocked:
              type: boolean
              description: |
                `/Document/extraction` only. Always `false`: fraud screening is advisory
                and never withholds the extraction. Kept for clients that already read it.
            fraudRequestId:
              type: [string, 'null']
              format: uuid
              description: |
                `/Document/extraction` only: the fraud screening that ran on this
                document. Null when screening was disabled, not enabled for the tenant,
                or failed.
            quality:
              description: |
                `/Document/extraction` only: the input-quality pre-flight. Null when it
                did not run. On a `2` (block) verdict the extraction did not run and
                `metadata` is null; on a `1` (warn) it ran and this carries the findings.
              oneOf:
                - $ref: '#/components/schemas/QualityAssessment'
                - type: 'null'
            imageUrls:
              type: [array, 'null']
              items: { type: string }
              description: '`/Document/crop` only: signed URLs of the cropped images.'
            documents:
              type: array
              description: '`/Document/crop` only: each document found on the page, with where it sits.'
              items: { $ref: '#/components/schemas/CropDocument' }
            compositeImageUrl:
              type: [string, 'null']
              description: '`/Document/crop` only: signed URL of the composite image, when one was produced.'
            requestId:
              type: string
              format: uuid
              description: '`/Document/facematch` only: identifies this comparison. Facematch carries no `id`.'
            extractions:
              type: array
              description: '`/Document/facematch` only: the face found, or not, in each uploaded document.'
              items: { $ref: '#/components/schemas/FaceExtraction' }
            matches:
              type: array
              description: '`/Document/facematch` only: the selfie compared against each document face.'
              items: { $ref: '#/components/schemas/FaceMatch' }
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    ExtractedField:
      type: object
      description: |
        One extracted field: the value, how certain the model is of it, and where on the
        document it was read from. These are the objects that fill `data.metadata`, and
        the cells inside a table-shaped field's `items` rows.

        The three location keys are present or absent together — see `data.metadata` for
        the coordinate convention they follow.
      properties:
        value:
          type: [string, 'null']
          description: The extracted value, or `null` when the field was not found.
        confidence:
          type: number
          minimum: 0
          maximum: 100
          description: |
            Certainty in the value, from `0` to `100`. This is the one confidence scale
            the API uses; `bbox_confidence` is on the same one.
        page:
          type: integer
          minimum: 1
          description: |
            1-indexed page the value was read from. Absent when the value could not be
            located on the page.
        bbox:
          $ref: '#/components/schemas/BoundingBox'
        bbox_confidence:
          type: number
          minimum: 0
          maximum: 100
          description: |
            Certainty in the location, from `0` to `100` — the same scale as `confidence`,
            not a `0`–`1` fraction. Absent whenever `bbox` is.
      example:
        value: '254H089SJ425'
        confidence: 98
        page: 1
        bbox: [0.62, 0.11, 0.83, 0.14]
        bbox_confidence: 92

    BoundingBox:
      type: array
      description: |
        Where a value sits on its page, as `[x0, y0, x1, y1]` fractions of the page size
        with the origin at the top-left: `x0,y0` is the top-left corner and `x1,y1` the
        bottom-right. Fractions rather than pixels, so the box survives any rendering
        scale — multiply by the width and height you draw the page at.
      minItems: 4
      maxItems: 4
      items:
        type: number
        minimum: 0
        maximum: 1
      example: [0.62, 0.11, 0.83, 0.14]

    ClassificationResult:
      type: object
      properties:
        fileName: { type: string, description: The uploaded file this entry classifies. }
        documentType: { type: string }
        confidence: { type: number, description: Certainty in `documentType`. }
        pages: { type: [integer, 'null'] }
        templateId:
          type: [string, 'null']
          format: uuid
          description: The template the document type resolves to, when one is configured.
        templateMetadata:
          type: [string, 'null']
          description: The matched template's schema. Null when `templateId` is, or the template has no schema yet.

    QualityVerdict:
      type: integer
      enum: [0, 1, 2]
      description: '`0` pass, `1` warn, `2` block. Sent as the number, not the name.'

    QualityAssessment:
      type: object
      required: [overall, findings]
      properties:
        overall:
          $ref: '#/components/schemas/QualityVerdict'
          description: The worst level across `findings`; `0` when there are none.
        findings:
          type: array
          description: Each probe that did not pass. Passing probes are left out.
          items: { $ref: '#/components/schemas/QualityFinding' }

    QualityFinding:
      type: object
      required: [probe, level, measured, threshold, message]
      properties:
        probe: { type: string, description: 'The check that crossed its threshold, such as `blur` or `resolution`.' }
        level: { $ref: '#/components/schemas/QualityVerdict' }
        measured: { type: number }
        threshold: { type: number }
        message: { type: string }

    CropDocument:
      type: object
      properties:
        box2D:
          type: array
          items: { type: integer }
          description: Where the document sits on the source image.
        mask:
          type: array
          items:
            type: array
            items: { type: integer }
          description: The document's outline on the source image, as a list of points.
        side: { type: string }
        type: { type: string, description: The detected document type. }
        confidence: { type: [number, 'null'] }
        imageUrl: { type: string, description: Signed URL of this document's crop. }

    FaceExtraction:
      type: object
      properties:
        sourceDocumentId: { type: string, format: uuid }
        hasFace: { type: boolean }
        documentType: { type: string }
        cropSignedUrl:
          type: [string, 'null']
          description: Signed URL of the face crop. Null when none was produced.

    FaceMatch:
      type: object
      properties:
        sourceDocumentId: { type: string, format: uuid }
        selfieDocumentId: { type: string, format: uuid }
        score: { type: number, description: Similarity between the selfie and the document face. }
        matched: { type: boolean }
        tooManyFaces: { type: boolean }

    DocumentJobOperation:
      type: string
      enum: [Extraction, Classification, ZeroShot, Crop, Split, Redaction, Facematch]

    DocumentJobSubmitOperation:
      type: string
      enum: [Extraction, Classification, ZeroShot, Crop, Split, Facematch]

    DocumentJobStatus:
      type: string
      enum: [Queued, Processing, Succeeded, Failed, Cancelled]

    DocumentJobSubmitStatus:
      type: string
      enum: [Queued]

    ServiceResponseMeta:
      type: object
      required: [httpStatusCode]
      properties:
        httpStatusCode: { type: integer }
        messages:
          type: array
          items: { type: string }
        errors:
          type: array
          items: { $ref: '#/components/schemas/ApiError' }
        creditsConsumed: { type: [number, 'null'] }

    ApiError:
      type: object
      required: [code, message, retryable]
      properties:
        code: { type: string }
        message: { type: string }
        field: { type: [string, 'null'] }
        retryable: { type: boolean }
        details:
          type: [object, 'null']
          additionalProperties: { type: string }

    Artifact:
      type: object
      required: [reference, fileName, contentType, sizeBytes, expiresAt]
      properties:
        reference:
          type: string
          pattern: '^artifact://.+$'
          example: artifact://uploads/9f2c1b7a4d8e4f06b1a25c3e7d9f0a11/invoice.pdf
          description: |
            Pass this as a job's `inputReference`. Reusable until it expires — treat
            it as opaque rather than parsing it.
        fileName:
          type: string
          example: invoice.pdf
          description: |
            The stored name. Characters outside `A-Z a-z 0-9 . _ -` are replaced and
            long names are truncated, so this can differ from what you sent. The
            extension is always preserved.
        contentType:
          type: string
          example: application/pdf
          description: |
            The type the bytes were stored under. A non-image document is normalized
            to `application/pdf` before storage, so this can differ from what you
            uploaded.
        sizeBytes:
          type: integer
          example: 248713
          description: Size of the stored document, which is not the size you sent when it was normalized.
        expiresAt:
          type: string
          format: date-time
          example: '2026-09-29T14:03:11.482Z'
          description: |
            When the reference stops resolving — 7 days from upload. Reads after this
            answer `410`.

    ArtifactUploadEnvelope:
      type: object
      required: [data, meta, hasErrors]
      properties:
        data: { $ref: '#/components/schemas/Artifact' }
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    ServiceErrorEnvelope:
      type: object
      required: [data, meta, hasErrors]
      properties:
        data:
          type: [object, 'null']
          additionalProperties: true
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    DocumentJobSubmission:
      type: object
      required: [jobId, status, statusUrl, retryAfterSeconds]
      properties:
        jobId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/DocumentJobSubmitStatus' }
        statusUrl: { type: string }
        retryAfterSeconds: { type: integer }

    DocumentJobList:
      type: object
      required: [jobs, hasMore, limit]
      properties:
        jobs:
          type: array
          items: { $ref: '#/components/schemas/DocumentJob' }
        nextCursor: { type: [string, 'null'] }
        hasMore: { type: boolean }
        limit: { type: integer }

    DocumentJobCancellation:
      type: object
      required: [jobId, cancellationRequested]
      properties:
        jobId: { type: string, format: uuid }
        cancellationRequested: { type: boolean }

    DocumentJobSubmissionEnvelope:
      type: object
      required: [data, meta, hasErrors]
      properties:
        data: { $ref: '#/components/schemas/DocumentJobSubmission' }
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    DocumentJobEnvelope:
      type: object
      required: [data, meta, hasErrors]
      properties:
        data: { $ref: '#/components/schemas/DocumentJob' }
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    DocumentJobListEnvelope:
      type: object
      required: [data, meta, hasErrors]
      properties:
        data: { $ref: '#/components/schemas/DocumentJobList' }
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    DocumentJobCancellationEnvelope:
      type: object
      required: [data, meta, hasErrors]
      properties:
        data: { $ref: '#/components/schemas/DocumentJobCancellation' }
        meta: { $ref: '#/components/schemas/ServiceResponseMeta' }
        hasErrors: { type: boolean }

    DocumentJob:
      type: object
      properties:
        jobId: { type: string, format: uuid }
        operation: { $ref: '#/components/schemas/DocumentJobOperation' }
        status: { $ref: '#/components/schemas/DocumentJobStatus' }
        outputReference:
          type: [string, 'null']
          example: artifact://document-jobs/7c9e6679-7425-40de-944b-e07fc1f90ae7/result.json
          description: |
            Where the finished result is stored, as an `artifact://` reference. Read it
            with `GET /api/v1/artifacts/content`. Null until the job succeeds, and always
            null for `Redaction`, which has its own download route.

            For `Extraction` and `ZeroShot` its field entries are the same
            `ExtractedField` objects a synchronous call returns for that document — same
            source-coordinate convention, same `0`-`100` confidence scale.

            The stored `result.json` is not the response envelope and does not repeat its
            casing: it holds the extraction result directly, with `Metadata` where the
            synchronous body has `data.metadata`. The field names inside are your
            template's either way.

            Jobs that completed before 2026-09-22 carry a bucket-qualified path rather
            than an `artifact://` reference; the download accepts both.
        stage: { type: [string, 'null'] }
        processedPages: { type: [integer, 'null'] }
        totalPages: { type: [integer, 'null'] }
        attemptCount: { type: integer }
        failureCode: { type: [string, 'null'] }
        retryable: { type: boolean }
        startedAt: { type: [string, 'null'], format: date-time }
        completedAt: { type: [string, 'null'], format: date-time }
        cancellationRequestedAt: { type: [string, 'null'], format: date-time }
        expiresAt: { type: string, format: date-time }
        creditsConsumed:
          type: [number, 'null']
          description: |
            What the job consumed, in credits. Absent — never `0` — while the cost is
            unknown: a job still queued or running, an operation that is not metered,
            or one billing could not price. `0` is a real value meaning the job was
            free. It is a property of the job, so polling a finished job twice reports
            the same figure; it is not a charge per read.

    PortalForm:
      type: object
      properties:
        formId: { type: integer, format: int64 }
        formName: { type: string }
        formDescription: { type: [string, 'null'] }

    PortalChannels:
      type: object
      properties:
        channels:
          type: array
          items: { $ref: '#/components/schemas/PortalSendChannel' }

    PortalSendChannel:
      type: string
      enum: [email, sms, whatsapp]

    PortalMagicLinkRequest:
      type: object
      required: [formId, name]
      properties:
        formId:
          type: integer
          format: int64
          description: Target form, from `GET /api/v1/portal/forms`. Must be greater than zero.
        name:
          type: string
          maxLength: 100
          description: Recipient display name.
        sendChannel:
          description: |
            Channel to deliver the link on. Omit it to create the link without
            sending anything.
          oneOf:
            - $ref: '#/components/schemas/PortalSendChannel'
            - type: 'null'
        email:
          type: [string, 'null']
          description: Required when `sendChannel` is `email`.
        phone:
          type: [string, 'null']
          description: Required when `sendChannel` is `sms` or `whatsapp`.
        taxId:
          type: [string, 'null']
          maxLength: 20
          description: Recipient tax id.
        dueDays:
          type: integer
          default: 30
          description: Days until the link expires. A value of zero or less is treated as 30.
        maxAccesses:
          type: [integer, 'null']
          description: How many times the link may be opened. Null means unlimited; 1 makes it single-use.
        notes:
          type: [string, 'null']
          description: Internal note kept against the link, never shown to the recipient.
        optIn:
          description: |
            WhatsApp consent for this recipient, recorded alongside creation. Supply it
            when consent is not already on file. Omit it when consent is already held.
            Only WhatsApp records this consent; email and SMS use their own consent rules.
            When supplied, source and non-blank evidenceText are required for every channel.
          oneOf:
            - $ref: '#/components/schemas/PortalMagicLinkOptIn'
            - type: 'null'

    PortalMagicLinkOptIn:
      type: object
      description: A declaration that the recipient agreed to be messaged on WhatsApp.
      required: [source, evidenceText]
      properties:
        source:
          type: string
          enum: [web_form, contract, in_person, import, api]
          description: How the recipient's consent was collected.
        evidenceText:
          type: string
          minLength: 1
          description: Required, non-blank pointer to the proof of consent, such as a contract number, form id or ticket.
        evidenceUrl:
          type: [string, 'null']
          description: Optional link to the evidence.
        collectedWhen:
          type: [string, 'null']
          format: date-time
          description: When the recipient consented. Defaults to now; supply the original date for older consent. Dates more than one day in the future are rejected.

    PortalMagicLink:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: The created magic link.
        url:
          type: [string, 'null']
          description: |
            The link the recipient opens. Present only on the first create — the token
            is a one-time secret that is never stored in readable form, so an
            idempotent replay omits this field.
        sent:
          type: boolean
          description: Whether Cogneris dispatched the link. False when `sendChannel` was omitted or the send was suppressed.
        sendChannel:
          description: The channel actually used, when one was.
          oneOf:
            - $ref: '#/components/schemas/PortalSendChannel'
            - type: 'null'
        sendSuppressionReason:
          type: [string, 'null']
          description: |
            Why delivery was suppressed when sent is false. Null or absent when delivery
            succeeded or no send was requested. This is an open string; handle unknown values.
            whatsapp_no_optin and whatsapp_optin_revoked require consent to be recorded;
            whatsapp_blocked means the recipient asked to stop and consent cannot override it;
            provider_error is transient and may be retried. The link exists even if sending
            was suppressed; use the returned url when present.

    ProblemDetails:
      type: object
      description: RFC 9457 problem document, sent as `application/problem+json`.
      properties:
        type: { type: string, description: Opaque stable identifier for the error class. }
        title: { type: string }
        status: { type: integer }
        detail: { type: [string, 'null'] }
        instance: { type: string, description: The path that produced the error. }
        code: { type: string, description: Stable machine-readable error code — branch on this. }
        correlationId: { type: string, description: Also returned in the `x-correlation-id` header. }
        retryable: { type: boolean }
        field: { type: [string, 'null'], description: 'The request field at fault, on validation failures.' }
        errors:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              message: { type: string }
              field: { type: [string, 'null'], description: Present on validation failures. }
              retryable: { type: boolean }
              details:
                type: [object, 'null']
                additionalProperties: { type: string }
