/*
 * Cogneris Document AI API
 * The Cogneris Document AI API turns unstructured documents — PDFs, images, scans — into structured JSON.  This document describes the endpoints that are actually deployed. It is written from the running service (`cogneris-api-be`) rather than from a design, so what is listed here is what you can call.  ## Authentication  Every endpoint takes an API key in the `Authorization` header as `Bearer <key>`. Keys begin with `xtkt_live_` (production) or `xtkt_test_` (sandbox); either prefix is accepted before the key is looked up for validation. The key selects the application environment. A recognized prefix alone does not authenticate a request: the key must also be valid and active. Keys are tenant-scoped and cannot cross tenant boundaries. Mint them in the dashboard under **Settings → API keys**.  ## Uploads  The synchronous document endpoints take `multipart/form-data`. There is no fetch-by-URL variant — the file travels in the request body.  - Accepted extensions: `.pdf`, `.png`, `.jpg`, `.jpeg`, `.tiff`, `.tif`,   `.bmp`, `.doc`, `.docx` - Maximum size: 10 MB per file, except `/Document/split`, which accepts 500 MB  The asynchronous job endpoints do not take a file. Upload it first to `POST /api/v1/artifacts` — same extensions, same 10 MB limit — and submit the `artifact://` reference it returns.  ## Artifact references  A reference names one stored object. `POST /api/v1/artifacts` returns one, a job submit consumes one as `inputReference`, and a finished job returns one as `outputReference`. `GET /api/v1/artifacts/content` turns either back into bytes.  - References are scoped to the tenant that created them. One belonging to another   tenant is refused as an invalid reference — the answer does not distinguish a   reference that exists elsewhere from one that never existed. - An uploaded reference is **reusable**: one upload can back several jobs. - It expires **7 days** after upload, matching how long a job is retained. The   exact instant is returned as `expiresAt`. Reading it afterwards answers `410`,   which is not `404` — the reference was real, it aged out, and re-requesting it   will never succeed. Upload again. - A job's `outputReference` lives as long as the job does.  ### Two shapes, one of them historical  Everything this API produces today is `artifact://<key>`. Jobs that completed before 2026-09-22 carry a bucket-qualified path instead — `<bucket>/<tenant>/document-jobs/<jobId>/result.json`, sometimes with an `@<version>` suffix. `GET /api/v1/artifacts/content` accepts both, so a reference stored from an older job still resolves for the rest of its life. Treat a reference as opaque: pass back exactly what you were given.  ## Templates  Extraction and classification are driven by the document types and templates configured for your tenant. The platform selects the template from the document itself, so there is no template or schema parameter on the request.  ## Scopes  Keys carry scopes. The Portal endpoints check them and answer `403` when the required one is absent; the document endpoints accept any valid key for the tenant without consulting the list. `*` is a real scope meaning full access, and it is what a key receives when it is created without an explicit scope list.  ## Rate limits  One shared policy covers every surface in this document, Portal included: **50 requests per API key per fixed 1-minute window**. It is a fixed window rather than a token bucket, so the allowance resets on the minute instead of refilling gradually. Requests over the limit receive `429`.  ## Response envelope  Successful responses from the **document and job** endpoints share one wrapper: `data` for the payload, `meta` for the status and any messages, and `hasErrors` for a fast failure check.  The **Portal** endpoints do not use that wrapper. They return the payload directly, and their errors are RFC 9457 problem documents sent as `application/problem+json`, with a stable `code`, a `correlationId` that is also returned in the `x-correlation-id` header, and a `retryable` flag. Branch on `code`; treat `type` as an opaque identifier.
 *
 * The version of the OpenAPI document: 2026-09-22
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.cogneris.documentai.api;

import ai.cogneris.documentai.ApiClient;
import ai.cogneris.documentai.ApiException;
import ai.cogneris.documentai.ApiResponse;
import ai.cogneris.documentai.Configuration;
import ai.cogneris.documentai.Pair;

import ai.cogneris.documentai.model.PortalChannels;
import ai.cogneris.documentai.model.PortalForm;
import ai.cogneris.documentai.model.PortalMagicLink;
import ai.cogneris.documentai.model.PortalMagicLinkRequest;
import ai.cogneris.documentai.model.ProblemDetails;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.25.0")
public class PortalApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public PortalApi() {
    this(Configuration.getDefaultApiClient());
  }

  public PortalApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes(), java.nio.charset.StandardCharsets.UTF_8);
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Create a magic link
   * Creates a link to an intake form for a named recipient and, when &#x60;sendChannel&#x60; is set, dispatches it on that channel. Omit &#x60;sendChannel&#x60; to create the link without sending anything and deliver it yourself.  Send a stable &#x60;Idempotency-Key&#x60; to make retries safe: a repeat resolves to the same link rather than creating a second one or charging twice.  &#x60;url&#x60; is returned **only on the first create**. The raw token is never stored in readable form, so an idempotent replay returns the same &#x60;id&#x60; with &#x60;url&#x60; absent — persist it from the original &#x60;201&#x60;.
   * @param portalMagicLinkRequest  (required)
   * @param idempotencyKey Stable caller-supplied key that makes a retry resolve to the same link. (optional)
   * @return PortalMagicLink
   * @throws ApiException if fails to make API call
   */
  public PortalMagicLink createPortalMagicLink(@javax.annotation.Nonnull PortalMagicLinkRequest portalMagicLinkRequest, @javax.annotation.Nullable String idempotencyKey) throws ApiException {
    return createPortalMagicLink(portalMagicLinkRequest, idempotencyKey, null);
  }

  /**
   * Create a magic link
   * Creates a link to an intake form for a named recipient and, when &#x60;sendChannel&#x60; is set, dispatches it on that channel. Omit &#x60;sendChannel&#x60; to create the link without sending anything and deliver it yourself.  Send a stable &#x60;Idempotency-Key&#x60; to make retries safe: a repeat resolves to the same link rather than creating a second one or charging twice.  &#x60;url&#x60; is returned **only on the first create**. The raw token is never stored in readable form, so an idempotent replay returns the same &#x60;id&#x60; with &#x60;url&#x60; absent — persist it from the original &#x60;201&#x60;.
   * @param portalMagicLinkRequest  (required)
   * @param idempotencyKey Stable caller-supplied key that makes a retry resolve to the same link. (optional)
   * @param headers Optional headers to include in the request
   * @return PortalMagicLink
   * @throws ApiException if fails to make API call
   */
  public PortalMagicLink createPortalMagicLink(@javax.annotation.Nonnull PortalMagicLinkRequest portalMagicLinkRequest, @javax.annotation.Nullable String idempotencyKey, Map<String, String> headers) throws ApiException {
    ApiResponse<PortalMagicLink> localVarResponse = createPortalMagicLinkWithHttpInfo(portalMagicLinkRequest, idempotencyKey, headers);
    return localVarResponse.getData();
  }

  /**
   * Create a magic link
   * Creates a link to an intake form for a named recipient and, when &#x60;sendChannel&#x60; is set, dispatches it on that channel. Omit &#x60;sendChannel&#x60; to create the link without sending anything and deliver it yourself.  Send a stable &#x60;Idempotency-Key&#x60; to make retries safe: a repeat resolves to the same link rather than creating a second one or charging twice.  &#x60;url&#x60; is returned **only on the first create**. The raw token is never stored in readable form, so an idempotent replay returns the same &#x60;id&#x60; with &#x60;url&#x60; absent — persist it from the original &#x60;201&#x60;.
   * @param portalMagicLinkRequest  (required)
   * @param idempotencyKey Stable caller-supplied key that makes a retry resolve to the same link. (optional)
   * @return ApiResponse&lt;PortalMagicLink&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PortalMagicLink> createPortalMagicLinkWithHttpInfo(@javax.annotation.Nonnull PortalMagicLinkRequest portalMagicLinkRequest, @javax.annotation.Nullable String idempotencyKey) throws ApiException {
    return createPortalMagicLinkWithHttpInfo(portalMagicLinkRequest, idempotencyKey, null);
  }

  /**
   * Create a magic link
   * Creates a link to an intake form for a named recipient and, when &#x60;sendChannel&#x60; is set, dispatches it on that channel. Omit &#x60;sendChannel&#x60; to create the link without sending anything and deliver it yourself.  Send a stable &#x60;Idempotency-Key&#x60; to make retries safe: a repeat resolves to the same link rather than creating a second one or charging twice.  &#x60;url&#x60; is returned **only on the first create**. The raw token is never stored in readable form, so an idempotent replay returns the same &#x60;id&#x60; with &#x60;url&#x60; absent — persist it from the original &#x60;201&#x60;.
   * @param portalMagicLinkRequest  (required)
   * @param idempotencyKey Stable caller-supplied key that makes a retry resolve to the same link. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;PortalMagicLink&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PortalMagicLink> createPortalMagicLinkWithHttpInfo(@javax.annotation.Nonnull PortalMagicLinkRequest portalMagicLinkRequest, @javax.annotation.Nullable String idempotencyKey, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createPortalMagicLinkRequestBuilder(portalMagicLinkRequest, idempotencyKey, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createPortalMagicLink", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<PortalMagicLink>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }



        String responseBody = new String(localVarResponseBody.readAllBytes(), java.nio.charset.StandardCharsets.UTF_8);
        PortalMagicLink responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PortalMagicLink>() {});


        return new ApiResponse<PortalMagicLink>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createPortalMagicLinkRequestBuilder(@javax.annotation.Nonnull PortalMagicLinkRequest portalMagicLinkRequest, @javax.annotation.Nullable String idempotencyKey, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'portalMagicLinkRequest' is set
    if (portalMagicLinkRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'portalMagicLinkRequest' when calling createPortalMagicLink");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/portal/magic-link";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(portalMagicLinkRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List the send channels this environment can use
   * The channels available for delivering a magic link. This is a property of the environment — it follows the delivery credentials configured there — rather than a per-tenant or per-plan entitlement, so it may be shorter than expected.  WhatsApp additionally requires a Meta-approved template and respects the 24-hour service window.
   * @return PortalChannels
   * @throws ApiException if fails to make API call
   */
  public PortalChannels listPortalChannels() throws ApiException {
    return listPortalChannels(null);
  }

  /**
   * List the send channels this environment can use
   * The channels available for delivering a magic link. This is a property of the environment — it follows the delivery credentials configured there — rather than a per-tenant or per-plan entitlement, so it may be shorter than expected.  WhatsApp additionally requires a Meta-approved template and respects the 24-hour service window.
   * @param headers Optional headers to include in the request
   * @return PortalChannels
   * @throws ApiException if fails to make API call
   */
  public PortalChannels listPortalChannels(Map<String, String> headers) throws ApiException {
    ApiResponse<PortalChannels> localVarResponse = listPortalChannelsWithHttpInfo(headers);
    return localVarResponse.getData();
  }

  /**
   * List the send channels this environment can use
   * The channels available for delivering a magic link. This is a property of the environment — it follows the delivery credentials configured there — rather than a per-tenant or per-plan entitlement, so it may be shorter than expected.  WhatsApp additionally requires a Meta-approved template and respects the 24-hour service window.
   * @return ApiResponse&lt;PortalChannels&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PortalChannels> listPortalChannelsWithHttpInfo() throws ApiException {
    return listPortalChannelsWithHttpInfo(null);
  }

  /**
   * List the send channels this environment can use
   * The channels available for delivering a magic link. This is a property of the environment — it follows the delivery credentials configured there — rather than a per-tenant or per-plan entitlement, so it may be shorter than expected.  WhatsApp additionally requires a Meta-approved template and respects the 24-hour service window.
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;PortalChannels&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PortalChannels> listPortalChannelsWithHttpInfo(Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPortalChannelsRequestBuilder(headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPortalChannels", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<PortalChannels>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }



        String responseBody = new String(localVarResponseBody.readAllBytes(), java.nio.charset.StandardCharsets.UTF_8);
        PortalChannels responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PortalChannels>() {});


        return new ApiResponse<PortalChannels>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPortalChannelsRequestBuilder(Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/portal/available-channels";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List the forms available to the tenant
   * Returns every intake form configured for your tenant, so you can resolve the &#x60;formId&#x60; a magic link needs. Forms are created in the dashboard, not here.  The response is a bare array, not the document-endpoint envelope, and it is not paginated.
   * @return List&lt;PortalForm&gt;
   * @throws ApiException if fails to make API call
   */
  public List<PortalForm> listPortalForms() throws ApiException {
    return listPortalForms(null);
  }

  /**
   * List the forms available to the tenant
   * Returns every intake form configured for your tenant, so you can resolve the &#x60;formId&#x60; a magic link needs. Forms are created in the dashboard, not here.  The response is a bare array, not the document-endpoint envelope, and it is not paginated.
   * @param headers Optional headers to include in the request
   * @return List&lt;PortalForm&gt;
   * @throws ApiException if fails to make API call
   */
  public List<PortalForm> listPortalForms(Map<String, String> headers) throws ApiException {
    ApiResponse<List<PortalForm>> localVarResponse = listPortalFormsWithHttpInfo(headers);
    return localVarResponse.getData();
  }

  /**
   * List the forms available to the tenant
   * Returns every intake form configured for your tenant, so you can resolve the &#x60;formId&#x60; a magic link needs. Forms are created in the dashboard, not here.  The response is a bare array, not the document-endpoint envelope, and it is not paginated.
   * @return ApiResponse&lt;List&lt;PortalForm&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<PortalForm>> listPortalFormsWithHttpInfo() throws ApiException {
    return listPortalFormsWithHttpInfo(null);
  }

  /**
   * List the forms available to the tenant
   * Returns every intake form configured for your tenant, so you can resolve the &#x60;formId&#x60; a magic link needs. Forms are created in the dashboard, not here.  The response is a bare array, not the document-endpoint envelope, and it is not paginated.
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;PortalForm&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<PortalForm>> listPortalFormsWithHttpInfo(Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPortalFormsRequestBuilder(headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPortalForms", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<PortalForm>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }



        String responseBody = new String(localVarResponseBody.readAllBytes(), java.nio.charset.StandardCharsets.UTF_8);
        List<PortalForm> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<PortalForm>>() {});


        return new ApiResponse<List<PortalForm>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPortalFormsRequestBuilder(Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/portal/forms";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/problem+json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
