// <auto-generated>
/*
 * Cogneris Document AI API
 *
 * The Cogneris Document AI API turns unstructured documents — PDFs, images, scans — into structured JSON.  This document describes the endpoints that are actually deployed. It is written from the running service (`cogneris-api-be`) rather than from a design, so what is listed here is what you can call.  ## Authentication  Every endpoint takes an API key in the `Authorization` header as `Bearer <key>`. Keys begin with `xtkt_live_` (production) or `xtkt_test_` (sandbox); either prefix is accepted before the key is looked up for validation. The key selects the application environment. A recognized prefix alone does not authenticate a request: the key must also be valid and active. Keys are tenant-scoped and cannot cross tenant boundaries. Mint them in the dashboard under **Settings → API keys**.  ## Uploads  The synchronous document endpoints take `multipart/form-data`. There is no fetch-by-URL variant — the file travels in the request body.  - Accepted extensions: `.pdf`, `.png`, `.jpg`, `.jpeg`, `.tiff`, `.tif`,   `.bmp`, `.doc`, `.docx` - Maximum size: 10 MB per file, except `/Document/split`, which accepts 500 MB  The asynchronous job endpoints do not take a file. Upload it first to `POST /api/v1/artifacts` — same extensions, same 10 MB limit — and submit the `artifact://` reference it returns.  ## Artifact references  A reference names one stored object. `POST /api/v1/artifacts` returns one, a job submit consumes one as `inputReference`, and a finished job returns one as `outputReference`. `GET /api/v1/artifacts/content` turns either back into bytes.  - References are scoped to the tenant that created them. One belonging to another   tenant is refused as an invalid reference — the answer does not distinguish a   reference that exists elsewhere from one that never existed. - An uploaded reference is **reusable**: one upload can back several jobs. - It expires **7 days** after upload, matching how long a job is retained. The   exact instant is returned as `expiresAt`. Reading it afterwards answers `410`,   which is not `404` — the reference was real, it aged out, and re-requesting it   will never succeed. Upload again. - A job's `outputReference` lives as long as the job does.  ### Two shapes, one of them historical  Everything this API produces today is `artifact://<key>`. Jobs that completed before 2026-09-22 carry a bucket-qualified path instead — `<bucket>/<tenant>/document-jobs/<jobId>/result.json`, sometimes with an `@<version>` suffix. `GET /api/v1/artifacts/content` accepts both, so a reference stored from an older job still resolves for the rest of its life. Treat a reference as opaque: pass back exactly what you were given.  ## Templates  Extraction and classification are driven by the document types and templates configured for your tenant. The platform selects the template from the document itself, so the synchronous `/Document/_*` calls take no template or schema parameter. An asynchronous Extraction job may instead name one explicitly with `templateId` on `POST /api/v1/document-jobs`.  ## Scopes  Keys carry scopes. The Portal endpoints check them and answer `403` when the required one is absent; the document endpoints accept any valid key for the tenant without consulting the list. `*` is a real scope meaning full access, and it is what a key receives when it is created without an explicit scope list.  ## Rate limits  One shared policy covers every surface in this document, Portal included: **50 requests per API key per fixed 1-minute window**. It is a fixed window rather than a token bucket, so the allowance resets on the minute instead of refilling gradually. Requests over the limit receive `429`.  ## Response envelope  Successful responses from the **document and job** endpoints share one wrapper: `data` for the payload, `meta` for the status and any messages, and `hasErrors` for a fast failure check.  The **Portal** endpoints do not use that wrapper. They return the payload directly, and their errors are RFC 9457 problem documents sent as `application/problem+json`, with a stable `code`, a `correlationId` that is also returned in the `x-correlation-id` header, and a `retryable` flag. Branch on `code`; treat `type` as an opaque identifier.  ## Errors  An error arrives in one of two shapes, and the `Content-Type` says which.  - `application/problem+json` — an RFC 9457 problem document, the same one the   Portal uses. Every route answers this way when the failure happens before your   request is processed: a missing or invalid key (`401`), the rate limit (`429`),   a request refused as malformed or unsafe (`400`), or an unexpected failure   (`500`). - `application/json` — the service envelope with `hasErrors: true` and the   reasons in `meta.errors`. The document, job and artifact routes answer this way   when processing itself fails. Each operation lists the statuses where it does.  Every operation lists `400`, `401`, `403`, `404`, `409`, `429` and `500`, because the API answers each of them in the same shape wherever it occurs. A status on an operation with nothing to miss or conflict with — a `409` on a read, say — is part of that uniform model and not something the operation returns in practice.
 *
 * The version of the OpenAPI document: 2026-09-24
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Net;
using System.IO;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Cogneris.DocumentAI.Client;
using Cogneris.DocumentAI.Logging;
using Cogneris.DocumentAI.Model;
using System.Diagnostics.CodeAnalysis;

namespace Cogneris.DocumentAI.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// This class is registered as transient.
    /// </summary>
    public interface IArtifactsApi : IApi
    {
        /// <summary>
        /// The class containing the events
        /// </summary>
        ArtifactsApiEvents Events { get; }

        /// <summary>
        /// Download the bytes behind a reference
        /// </summary>
        /// <remarks>
        /// Returns the stored bytes of an upload, or of a finished job&#39;s &#x60;outputReference&#x60;. For a completed job this is the result document — &#x60;application/json&#x60; for the extraction, classification and zero-shot operations.  The reference is a query parameter, not a path segment, because it is a URI in its own right. Percent-encode it.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="reference">An &#x60;artifact://&#x60; reference, or the bucket-qualified form an older job returned. Pass back exactly what you were given. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadArtifactApiResponse"/>&gt;</returns>
        Task<IDownloadArtifactApiResponse> DownloadArtifactAsync(string reference, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download the bytes behind a reference
        /// </summary>
        /// <remarks>
        /// Returns the stored bytes of an upload, or of a finished job&#39;s &#x60;outputReference&#x60;. For a completed job this is the result document — &#x60;application/json&#x60; for the extraction, classification and zero-shot operations.  The reference is a query parameter, not a path segment, because it is a URI in its own right. Percent-encode it.
        /// </remarks>
        /// <param name="reference">An &#x60;artifact://&#x60; reference, or the bucket-qualified form an older job returned. Pass back exactly what you were given. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadArtifactApiResponse"/>?&gt;</returns>
        Task<IDownloadArtifactApiResponse?> DownloadArtifactOrDefaultAsync(string reference, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Upload the input document of an asynchronous job
        /// </summary>
        /// <remarks>
        /// Stores a document and returns the &#x60;artifact://&#x60; reference to submit it with. This is the only way to obtain one — the asynchronous job endpoints take a reference, never a file.  The document is scanned and normalized before it is stored, exactly as the synchronous &#x60;/Document/_*&#x60; endpoints do. Images are stored as uploaded, so &#x60;Crop&#x60; and &#x60;Facematch&#x60; still see the original pixels; everything else is stored in its canonical form, which is what the job will read.  The reference is reusable and expires after 7 days — see **Artifact references** above.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="file">The document a job will consume. Same accepted extensions and the same 10 MB limit as the synchronous endpoints. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUploadArtifactApiResponse"/>&gt;</returns>
        Task<IUploadArtifactApiResponse> UploadArtifactAsync(Cogneris.DocumentAI.Client.FileParameter file, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Upload the input document of an asynchronous job
        /// </summary>
        /// <remarks>
        /// Stores a document and returns the &#x60;artifact://&#x60; reference to submit it with. This is the only way to obtain one — the asynchronous job endpoints take a reference, never a file.  The document is scanned and normalized before it is stored, exactly as the synchronous &#x60;/Document/_*&#x60; endpoints do. Images are stored as uploaded, so &#x60;Crop&#x60; and &#x60;Facematch&#x60; still see the original pixels; everything else is stored in its canonical form, which is what the job will read.  The reference is reusable and expires after 7 days — see **Artifact references** above.
        /// </remarks>
        /// <param name="file">The document a job will consume. Same accepted extensions and the same 10 MB limit as the synchronous endpoints. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUploadArtifactApiResponse"/>?&gt;</returns>
        Task<IUploadArtifactApiResponse?> UploadArtifactOrDefaultAsync(Cogneris.DocumentAI.Client.FileParameter file, System.Threading.CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// The <see cref="IDownloadArtifactApiResponse"/>
    /// </summary>
    public interface IDownloadArtifactApiResponse : Cogneris.DocumentAI.Client.IApiResponse, IOk<System.IO.Stream?>, IBadRequest<Cogneris.DocumentAI.Model.ServiceErrorEnvelope?>, IUnauthorized<Cogneris.DocumentAI.Model.ProblemDetails?>, IForbidden<Cogneris.DocumentAI.Model.ProblemDetails?>, INotFound<Cogneris.DocumentAI.Model.ServiceErrorEnvelope?>, IConflict<Cogneris.DocumentAI.Model.ProblemDetails?>, IGone<Cogneris.DocumentAI.Model.ServiceErrorEnvelope?>, ITooManyRequests<Cogneris.DocumentAI.Model.ProblemDetails?>, IInternalServerError<Cogneris.DocumentAI.Model.ProblemDetails?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 409 Conflict
        /// </summary>
        /// <returns></returns>
        bool IsConflict { get; }

        /// <summary>
        /// Returns true if the response is 410 Gone
        /// </summary>
        /// <returns></returns>
        bool IsGone { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IUploadArtifactApiResponse"/>
    /// </summary>
    public interface IUploadArtifactApiResponse : Cogneris.DocumentAI.Client.IApiResponse, ICreated<Cogneris.DocumentAI.Model.ArtifactUploadEnvelope?>, IBadRequest<Cogneris.DocumentAI.Model.ProblemDetails?>, IUnauthorized<Cogneris.DocumentAI.Model.ProblemDetails?>, IForbidden<Cogneris.DocumentAI.Model.ProblemDetails?>, INotFound<Cogneris.DocumentAI.Model.ProblemDetails?>, IConflict<Cogneris.DocumentAI.Model.ProblemDetails?>, IUnprocessableContent<Cogneris.DocumentAI.Model.ServiceErrorEnvelope?>, ITooManyRequests<Cogneris.DocumentAI.Model.ProblemDetails?>, IInternalServerError<Cogneris.DocumentAI.Model.ProblemDetails?>, IServiceUnavailable<Cogneris.DocumentAI.Model.ServiceErrorEnvelope?>
    {
        /// <summary>
        /// Returns true if the response is 201 Created
        /// </summary>
        /// <returns></returns>
        bool IsCreated { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 409 Conflict
        /// </summary>
        /// <returns></returns>
        bool IsConflict { get; }

        /// <summary>
        /// Returns true if the response is 413 ContentTooLarge
        /// </summary>
        /// <returns></returns>
        bool IsContentTooLarge { get; }

        /// <summary>
        /// Returns true if the response is 415 UnsupportedMediaType
        /// </summary>
        /// <returns></returns>
        bool IsUnsupportedMediaType { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 429 TooManyRequests
        /// </summary>
        /// <returns></returns>
        bool IsTooManyRequests { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }

        /// <summary>
        /// Returns true if the response is 503 ServiceUnavailable
        /// </summary>
        /// <returns></returns>
        bool IsServiceUnavailable { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class ArtifactsApiEvents
    {
        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnDownloadArtifact;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorDownloadArtifact;

        internal void ExecuteOnDownloadArtifact(ArtifactsApi.DownloadArtifactApiResponse apiResponse)
        {
            OnDownloadArtifact?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorDownloadArtifact(Exception exception)
        {
            OnErrorDownloadArtifact?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnUploadArtifact;

        /// <summary>
        /// The event raised after an error querying the server
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorUploadArtifact;

        internal void ExecuteOnUploadArtifact(ArtifactsApi.UploadArtifactApiResponse apiResponse)
        {
            OnUploadArtifact?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorUploadArtifact(Exception exception)
        {
            OnErrorUploadArtifact?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public sealed partial class ArtifactsApi : IArtifactsApi
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger
        /// </summary>
        public ILogger<ArtifactsApi> Logger { get; }

        /// <summary>
        /// The HttpClient
        /// </summary>
        public HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events
        /// </summary>
        public ArtifactsApiEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="BearerToken"/>
        /// </summary>
        public TokenProvider<BearerToken> BearerTokenProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ArtifactsApi"/> class.
        /// </summary>
        /// <returns></returns>
        public ArtifactsApi(ILogger<ArtifactsApi> logger, HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ArtifactsApiEvents artifactsApiEvents,
            TokenProvider<BearerToken> bearerTokenProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            Logger = logger;
            HttpClient = httpClient;
            Events = artifactsApiEvents;
            BearerTokenProvider = bearerTokenProvider;
        }

        partial void FormatDownloadArtifact(ref string reference);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="reference"></param>
        /// <returns></returns>
        private void ValidateDownloadArtifact(string reference)
        {
            if (reference == null)
                throw new ArgumentNullException(nameof(reference));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="reference"></param>
        private void AfterDownloadArtifactDefaultImplementation(IDownloadArtifactApiResponse apiResponseLocalVar, string reference)
        {
            bool suppressDefaultLog = false;
            AfterDownloadArtifact(ref suppressDefaultLog, apiResponseLocalVar, reference);
            if (!suppressDefaultLog)
                Logger.LogInformation(RestLogEvents.ApiRequestCompleted, "{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="reference"></param>
        partial void AfterDownloadArtifact(ref bool suppressDefaultLog, IDownloadArtifactApiResponse apiResponseLocalVar, string reference);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="reference"></param>
        private void OnErrorDownloadArtifactDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string reference)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorDownloadArtifact(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, reference);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(RestLogEvents.ApiRequestFailed, exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="reference"></param>
        partial void OnErrorDownloadArtifact(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, string reference);

        /// <summary>
        /// Download the bytes behind a reference Returns the stored bytes of an upload, or of a finished job&#39;s &#x60;outputReference&#x60;. For a completed job this is the result document — &#x60;application/json&#x60; for the extraction, classification and zero-shot operations.  The reference is a query parameter, not a path segment, because it is a URI in its own right. Percent-encode it.
        /// </summary>
        /// <param name="reference">An &#x60;artifact://&#x60; reference, or the bucket-qualified form an older job returned. Pass back exactly what you were given. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadArtifactApiResponse"/>&gt;</returns>
        public async Task<IDownloadArtifactApiResponse?> DownloadArtifactOrDefaultAsync(string reference, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await DownloadArtifactAsync(reference, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Download the bytes behind a reference Returns the stored bytes of an upload, or of a finished job&#39;s &#x60;outputReference&#x60;. For a completed job this is the result document — &#x60;application/json&#x60; for the extraction, classification and zero-shot operations.  The reference is a query parameter, not a path segment, because it is a URI in its own right. Percent-encode it.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="reference">An &#x60;artifact://&#x60; reference, or the bucket-qualified form an older job returned. Pass back exactly what you were given. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IDownloadArtifactApiResponse"/>&gt;</returns>
        public async Task<IDownloadArtifactApiResponse> DownloadArtifactAsync(string reference, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateDownloadArtifact(reference);

                FormatDownloadArtifact(ref reference);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/artifacts/content"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath.TrimEnd('/'), "/api/v1/artifacts/content");

                    System.Collections.Specialized.NameValueCollection parseQueryStringLocalVar = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    parseQueryStringLocalVar["reference"] = ClientUtils.ParameterToString(reference);

                    uriBuilderLocalVar.Query = parseQueryStringLocalVar.ToString();

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] acceptLocalVars = new string[] {
                        "application/octet-stream",
                        "application/json",
                        "application/problem+json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Get;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        DownloadArtifactApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            case (200):
                            {
                                byte[] responseBytesArrayLocalVar = await httpResponseMessageLocalVar.Content.ReadAsByteArrayAsync(cancellationToken).ConfigureAwait(false);
                                System.IO.Stream responseContentStreamLocalVar = new System.IO.MemoryStream(responseBytesArrayLocalVar);
                                apiResponseLocalVar = new(Logger, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentStreamLocalVar, "/api/v1/artifacts/content", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(Logger, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/artifacts/content", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterDownloadArtifactDefaultImplementation(apiResponseLocalVar, reference);

                        Events.ExecuteOnDownloadArtifact(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorDownloadArtifactDefaultImplementation(e, "/api/v1/artifacts/content", uriBuilderLocalVar.Path, reference);
                Events.ExecuteOnErrorDownloadArtifact(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="DownloadArtifactApiResponse"/>
        /// </summary>
        public partial class DownloadArtifactApiResponse : Cogneris.DocumentAI.Client.ApiResponse, IDownloadArtifactApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ArtifactsApi> Logger { get; }

            /// <summary>
            /// The <see cref="DownloadArtifactApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadArtifactApiResponse(ILogger<ArtifactsApi> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="DownloadArtifactApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public DownloadArtifactApiResponse(ILogger<ArtifactsApi> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok
            /// </summary>
            /// <returns></returns>
            public System.IO.Stream? Ok()
            {
                bool suppressDefault = false;
                System.IO.Stream? result = null;
                OnOk(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultOk();
                return result;
            }

            private System.IO.Stream? DefaultOk()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsOk
                    ? ContentStream
                    : null;
            }

            partial void OnOk(ref bool suppressDefault, ref System.IO.Stream? result);

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryOk([NotNullWhen(true)]out System.IO.Stream? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ServiceErrorEnvelope? BadRequest()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result = null;
                OnBadRequest(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultBadRequest();
                return result;
            }

            private Cogneris.DocumentAI.Model.ServiceErrorEnvelope? DefaultBadRequest()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ServiceErrorEnvelope>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnBadRequest(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result);

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? Unauthorized()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnUnauthorized(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultUnauthorized();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultUnauthorized()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnUnauthorized(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? Forbidden()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnForbidden(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultForbidden();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultForbidden()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnForbidden(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryForbidden([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ServiceErrorEnvelope? NotFound()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result = null;
                OnNotFound(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultNotFound();
                return result;
            }

            private Cogneris.DocumentAI.Model.ServiceErrorEnvelope? DefaultNotFound()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ServiceErrorEnvelope>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnNotFound(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result);

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNotFound([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 409 Conflict
            /// </summary>
            /// <returns></returns>
            public bool IsConflict => 409 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 409 Conflict
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? Conflict()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnConflict(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultConflict();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultConflict()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsConflict
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnConflict(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 409 Conflict and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryConflict([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = Conflict();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)409);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 410 Gone
            /// </summary>
            /// <returns></returns>
            public bool IsGone => 410 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 410 Gone
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ServiceErrorEnvelope? Gone()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result = null;
                OnGone(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultGone();
                return result;
            }

            private Cogneris.DocumentAI.Model.ServiceErrorEnvelope? DefaultGone()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsGone
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ServiceErrorEnvelope>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnGone(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result);

            /// <summary>
            /// Returns true if the response is 410 Gone and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryGone([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result)
            {
                result = null;

                try
                {
                    result = Gone();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)410);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? TooManyRequests()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnTooManyRequests(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultTooManyRequests();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultTooManyRequests()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsTooManyRequests
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnTooManyRequests(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryTooManyRequests([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = TooManyRequests();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)429);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? InternalServerError()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnInternalServerError(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultInternalServerError();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultInternalServerError()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnInternalServerError(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryInternalServerError([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(RestLogEvents.ApiDeserializationFailed, exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatUploadArtifact(ref Cogneris.DocumentAI.Client.FileParameter file);

        /// <summary>
        /// Validates the request parameters
        /// </summary>
        /// <param name="file"></param>
        /// <returns></returns>
        private void ValidateUploadArtifact(Cogneris.DocumentAI.Client.FileParameter file)
        {
            if (file == null)
                throw new ArgumentNullException(nameof(file));
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="file"></param>
        private void AfterUploadArtifactDefaultImplementation(IUploadArtifactApiResponse apiResponseLocalVar, Cogneris.DocumentAI.Client.FileParameter file)
        {
            bool suppressDefaultLog = false;
            AfterUploadArtifact(ref suppressDefaultLog, apiResponseLocalVar, file);
            if (!suppressDefaultLog)
                Logger.LogInformation(RestLogEvents.ApiRequestCompleted, "{0,-9} | {1} | {2}", (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds, apiResponseLocalVar.StatusCode, apiResponseLocalVar.Path);
        }

        /// <summary>
        /// Processes the server response
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponseLocalVar"></param>
        /// <param name="file"></param>
        partial void AfterUploadArtifact(ref bool suppressDefaultLog, IUploadArtifactApiResponse apiResponseLocalVar, Cogneris.DocumentAI.Client.FileParameter file);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response
        /// </summary>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="file"></param>
        private void OnErrorUploadArtifactDefaultImplementation(Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, Cogneris.DocumentAI.Client.FileParameter file)
        {
            bool suppressDefaultLogLocalVar = false;
            OnErrorUploadArtifact(ref suppressDefaultLogLocalVar, exceptionLocalVar, pathFormatLocalVar, pathLocalVar, file);
            if (!suppressDefaultLogLocalVar)
                Logger.LogError(RestLogEvents.ApiRequestFailed, exceptionLocalVar, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling
        /// </summary>
        /// <param name="suppressDefaultLogLocalVar"></param>
        /// <param name="exceptionLocalVar"></param>
        /// <param name="pathFormatLocalVar"></param>
        /// <param name="pathLocalVar"></param>
        /// <param name="file"></param>
        partial void OnErrorUploadArtifact(ref bool suppressDefaultLogLocalVar, Exception exceptionLocalVar, string pathFormatLocalVar, string pathLocalVar, Cogneris.DocumentAI.Client.FileParameter file);

        /// <summary>
        /// Upload the input document of an asynchronous job Stores a document and returns the &#x60;artifact://&#x60; reference to submit it with. This is the only way to obtain one — the asynchronous job endpoints take a reference, never a file.  The document is scanned and normalized before it is stored, exactly as the synchronous &#x60;/Document/_*&#x60; endpoints do. Images are stored as uploaded, so &#x60;Crop&#x60; and &#x60;Facematch&#x60; still see the original pixels; everything else is stored in its canonical form, which is what the job will read.  The reference is reusable and expires after 7 days — see **Artifact references** above.
        /// </summary>
        /// <param name="file">The document a job will consume. Same accepted extensions and the same 10 MB limit as the synchronous endpoints. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUploadArtifactApiResponse"/>&gt;</returns>
        public async Task<IUploadArtifactApiResponse?> UploadArtifactOrDefaultAsync(Cogneris.DocumentAI.Client.FileParameter file, System.Threading.CancellationToken cancellationToken = default)
        {
            try
            {
                return await UploadArtifactAsync(file, cancellationToken).ConfigureAwait(false);
            }
            catch (Exception)
            {
                return null;
            }
        }

        /// <summary>
        /// Upload the input document of an asynchronous job Stores a document and returns the &#x60;artifact://&#x60; reference to submit it with. This is the only way to obtain one — the asynchronous job endpoints take a reference, never a file.  The document is scanned and normalized before it is stored, exactly as the synchronous &#x60;/Document/_*&#x60; endpoints do. Images are stored as uploaded, so &#x60;Crop&#x60; and &#x60;Facematch&#x60; still see the original pixels; everything else is stored in its canonical form, which is what the job will read.  The reference is reusable and expires after 7 days — see **Artifact references** above.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="file">The document a job will consume. Same accepted extensions and the same 10 MB limit as the synchronous endpoints. </param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUploadArtifactApiResponse"/>&gt;</returns>
        public async Task<IUploadArtifactApiResponse> UploadArtifactAsync(Cogneris.DocumentAI.Client.FileParameter file, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilderLocalVar = new UriBuilder();

            try
            {
                ValidateUploadArtifact(file);

                FormatUploadArtifact(ref file);

                using (HttpRequestMessage httpRequestMessageLocalVar = new HttpRequestMessage())
                {
                    uriBuilderLocalVar.Host = HttpClient.BaseAddress!.Host;
                    uriBuilderLocalVar.Port = HttpClient.BaseAddress.Port;
                    uriBuilderLocalVar.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilderLocalVar.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/api/v1/artifacts"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath.TrimEnd('/'), "/api/v1/artifacts");

                    MultipartFormDataContent multipartContentLocalVar = new MultipartFormDataContent();

                    httpRequestMessageLocalVar.Content = multipartContentLocalVar;

                    List<KeyValuePair<string, string?>> formParameterLocalVars = new List<KeyValuePair<string, string?>>();

                    {
                        var streamContentLocalVar = new StreamContent(file.Content);
                        streamContentLocalVar.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);
                        multipartContentLocalVar.Add(streamContentLocalVar, "file", file.FileName ?? "file");
                    }

                    foreach (var formParamLocalVar in formParameterLocalVars)
                        multipartContentLocalVar.Add(new StringContent(formParamLocalVar.Value ?? string.Empty), formParamLocalVar.Key);

                    List<TokenBase> tokenBaseLocalVars = new List<TokenBase>();
                    httpRequestMessageLocalVar.RequestUri = uriBuilderLocalVar.Uri;

                    BearerToken bearerTokenLocalVar1 = (BearerToken) await BearerTokenProvider.GetAsync(cancellation: cancellationToken).ConfigureAwait(false);

                    tokenBaseLocalVars.Add(bearerTokenLocalVar1);

                    bearerTokenLocalVar1.UseInHeader(httpRequestMessageLocalVar, "");

                    string[] contentTypes = new string[] {
                        "multipart/form-data"
                    };

                    string[] acceptLocalVars = new string[] {
                        "application/json",
                        "application/problem+json"
                    };

                    IEnumerable<MediaTypeWithQualityHeaderValue> acceptHeaderValuesLocalVar = ClientUtils.SelectHeaderAcceptArray(acceptLocalVars);

                    foreach (var acceptLocalVar in acceptHeaderValuesLocalVar)
                        httpRequestMessageLocalVar.Headers.Accept.Add(acceptLocalVar);

                    httpRequestMessageLocalVar.Method = HttpMethod.Post;

                    DateTime requestedAtLocalVar = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessageLocalVar = await HttpClient.SendAsync(httpRequestMessageLocalVar, cancellationToken).ConfigureAwait(false))
                    {
                        UploadArtifactApiResponse apiResponseLocalVar;

                        switch ((int)httpResponseMessageLocalVar.StatusCode) {
                            default: {
                                string responseContentLocalVar = await httpResponseMessageLocalVar.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponseLocalVar = new(Logger, httpRequestMessageLocalVar, httpResponseMessageLocalVar, responseContentLocalVar, "/api/v1/artifacts", requestedAtLocalVar, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterUploadArtifactDefaultImplementation(apiResponseLocalVar, file);

                        Events.ExecuteOnUploadArtifact(apiResponseLocalVar);

                        if (apiResponseLocalVar.StatusCode == (HttpStatusCode) 429)
                            foreach(TokenBase tokenBaseLocalVar in tokenBaseLocalVars)
                                tokenBaseLocalVar.BeginRateLimit();

                        return apiResponseLocalVar;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorUploadArtifactDefaultImplementation(e, "/api/v1/artifacts", uriBuilderLocalVar.Path, file);
                Events.ExecuteOnErrorUploadArtifact(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="UploadArtifactApiResponse"/>
        /// </summary>
        public partial class UploadArtifactApiResponse : Cogneris.DocumentAI.Client.ApiResponse, IUploadArtifactApiResponse
        {
            /// <summary>
            /// The logger
            /// </summary>
            public ILogger<ArtifactsApi> Logger { get; }

            /// <summary>
            /// The <see cref="UploadArtifactApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public UploadArtifactApiResponse(ILogger<ArtifactsApi> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="UploadArtifactApiResponse"/>
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public UploadArtifactApiResponse(ILogger<ArtifactsApi> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 201 Created
            /// </summary>
            /// <returns></returns>
            public bool IsCreated => 201 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 201 Created
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ArtifactUploadEnvelope? Created()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ArtifactUploadEnvelope? result = null;
                OnCreated(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultCreated();
                return result;
            }

            private Cogneris.DocumentAI.Model.ArtifactUploadEnvelope? DefaultCreated()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsCreated
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ArtifactUploadEnvelope>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnCreated(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ArtifactUploadEnvelope? result);

            /// <summary>
            /// Returns true if the response is 201 Created and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryCreated([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ArtifactUploadEnvelope? result)
            {
                result = null;

                try
                {
                    result = Created();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)201);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? BadRequest()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnBadRequest(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultBadRequest();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultBadRequest()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnBadRequest(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryBadRequest([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? Unauthorized()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnUnauthorized(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultUnauthorized();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultUnauthorized()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnUnauthorized(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnauthorized([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? Forbidden()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnForbidden(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultForbidden();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultForbidden()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnForbidden(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryForbidden([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? NotFound()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnNotFound(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultNotFound();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultNotFound()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnNotFound(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryNotFound([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 409 Conflict
            /// </summary>
            /// <returns></returns>
            public bool IsConflict => 409 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 409 Conflict
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? Conflict()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnConflict(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultConflict();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultConflict()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsConflict
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnConflict(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 409 Conflict and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryConflict([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = Conflict();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)409);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 413 ContentTooLarge
            /// </summary>
            /// <returns></returns>
            public bool IsContentTooLarge => 413 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 415 UnsupportedMediaType
            /// </summary>
            /// <returns></returns>
            public bool IsUnsupportedMediaType => 415 == (int)StatusCode;

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ServiceErrorEnvelope? UnprocessableContent()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result = null;
                OnUnprocessableContent(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultUnprocessableContent();
                return result;
            }

            private Cogneris.DocumentAI.Model.ServiceErrorEnvelope? DefaultUnprocessableContent()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ServiceErrorEnvelope>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnUnprocessableContent(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result);

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryUnprocessableContent([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public bool IsTooManyRequests => 429 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 429 TooManyRequests
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? TooManyRequests()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnTooManyRequests(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultTooManyRequests();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultTooManyRequests()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsTooManyRequests
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnTooManyRequests(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 429 TooManyRequests and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryTooManyRequests([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = TooManyRequests();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)429);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ProblemDetails? InternalServerError()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ProblemDetails? result = null;
                OnInternalServerError(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultInternalServerError();
                return result;
            }

            private Cogneris.DocumentAI.Model.ProblemDetails? DefaultInternalServerError()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ProblemDetails>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnInternalServerError(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ProblemDetails? result);

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryInternalServerError([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ProblemDetails? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public bool IsServiceUnavailable => 503 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 503 ServiceUnavailable
            /// </summary>
            /// <returns></returns>
            public Cogneris.DocumentAI.Model.ServiceErrorEnvelope? ServiceUnavailable()
            {
                bool suppressDefault = false;
                Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result = null;
                OnServiceUnavailable(ref suppressDefault, ref result);
                if (!suppressDefault)
                    result = DefaultServiceUnavailable();
                return result;
            }

            private Cogneris.DocumentAI.Model.ServiceErrorEnvelope? DefaultServiceUnavailable()
            {
                // NOTICE: Consider this AsModel template deprecated. Implement the appropriate partial method instead
                return IsServiceUnavailable
                    ? System.Text.Json.JsonSerializer.Deserialize<Cogneris.DocumentAI.Model.ServiceErrorEnvelope>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            partial void OnServiceUnavailable(ref bool suppressDefault, ref Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result);

            /// <summary>
            /// Returns true if the response is 503 ServiceUnavailable and the deserialized response is not null
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryServiceUnavailable([NotNullWhen(true)]out Cogneris.DocumentAI.Model.ServiceErrorEnvelope? result)
            {
                result = null;

                try
                {
                    result = ServiceUnavailable();
                } catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)503);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(RestLogEvents.ApiDeserializationFailed, exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
    }
}
